<div class="search">
  <input type="search" name="gamename" #searchInput [(ngModel)]="search" height="60px" placeholder="Find games..." (keypress)="onKeyPress()">
  <span class="suggestion" [hidden]="!search" [innerHTML]="suggestion"></span>
</div>

<ul class="grid-4-list">
  <li class="tile" *ngFor="let game of filteredGames">
    <div class="tile">
      <div class="head">
        <span class="title" [innerHTML]="game.title"></span>
        <span [class.editors-choice]="game.editors_choice==='Y'"></span>
      </div>
      <div class="content">
        <span class="platform" [innerHTML]="game.platform"></span>
        <span class="genre" [innerHTML]="game.genre"></span>
        <span class="score" [innerHTML]="game.score"></span>
      </div>

    </div>
  </li>
</ul>

<router-outlet></router-outlet>
